

$color-primary: #fafbfb;
$color-secondary: #eceeee;
$color-black-primary: rgb(30, 30, 30);
$color-nav-secondary: rgb(253, 253, 253);
$color-black-shadow: rgba(0, 0, 0, 0.6);
$color-gray: #e0e0e0;
$color-grey-secondary: rgba(115, 115, 115, 0.67);
$color-gray-text: #9f9f9f;
$color-gray-input: #2d2d2c;
$color-grey-another: rgba(115, 115, 115, 0.22);
$color-grayer: #646464;
$color-light-gray: #d3d3d3;
$color-dark-gray: #00000070;
$color-purple: #a25da1;
$color-light-purple: #7f78ac;
$color-dark-purple: rgba(165, 91, 162, 0.34);
$color-neon-purple: #c700ff;
$color-blue: #5d93b6;
$color-neon-blue: #03e9f4;
$color-dark-blue: rgba(56, 176, 193, 0.42);
$color-shadow: rgba(0,0,0,0.61);
$color-green: #94d23b;
